/* 浅色主题 */
.light-theme {
  --bg-color: #f5f7fa;
  --text-color: #303133;
  --card-bg: #ffffff;
  --border-color: #e4e7ed;
  --secondary-text: #606266;
  --highlight-color:#FB7299;
}

/* 深色主题 */
.dark-theme {
  --bg-color: #141414;
  --text-color: #e5e6eb;
  --card-bg: #040810;
  --border-color: #303030;
  --secondary-text: #909399;
  --highlight-color:#FB7299;
}

/* 应用主题变量 */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.el-card {
  background-color: var(--card-bg);
  border-color: var(--border-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
